<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300530458294-j4kq9e623d5rs9sk2um3jrpo8fgqc4d7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300530458294-j4kq9e623d5rs9sk2um3jrpo8fgqc4d7</string>
	<key>API_KEY</key>
	<string>AIzaSyASJDkirwwQfzvhOY-EFySUw6JVR40dQt4</string>
	<key>GCM_SENDER_ID</key>
	<string>300530458294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yselimguner.InstagramCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramclonefirebase-7293d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclonefirebase-7293d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300530458294:ios:dd89321ce2834501a19017</string>
</dict>
</plist>